.footer {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--vh);
    width: 100vw;
    overflow: hidden;
    z-index: 5;

    // .footer__bg
    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.7;
        }
    }

    // .footer__container
    &__container {
        position: relative;
        z-index: 2;
        padding: 100px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        @include _420-block {
            padding-top: 70px;
        }
    }

    // .footer__inner
    &__inner {
        display: grid;
        height: 100%;
        padding-bottom: 30px;
        grid-template-rows: 10fr 2fr;

        @media (min-height: 1000px) {
        }
        @include _575-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 40px;
            // grid-template-rows: 10fr 2fr;
        }
    }

    // .footer__head
    &__head {
        @media (min-height: 1000px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    // .footer__sub
    &__sub {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: #808080;
        font-weight: 400;

        @include _420-block {
            font-size: 18px;
        }
    }

    // .footer__title
    &__title {
        font-weight: 700;
        font-size: 70px;
        line-height: 100%;
        text-align: center;
        color: #ffffff;
        max-width: 1200px;
        width: 100%;
        text-align: center;
        margin: 10px auto 0;

        @include _1199-block {
            font-size: 62px;
        }

        @include _991-block {
            font-size: 54px;
        }

        @include _767-block {
            font-size: 42px;
        }

        @include _575-block {
            font-size: 32px;
        }

        @include _420-block {
            font-size: 24px;
        }
    }

    // .footer__text
    &__text {
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        color: #ffffff;
        max-width: 720px;
        margin: 30px auto 0;
        @include _991-block {
            font-size: 20px;
        }
        @include _575-block {
            font-size: 16px;
            margin-top: 20px;
        }
    }

    // .footer__form
    &__form {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        max-width: 914px;
        width: 100%;
        gap: 15px;
        margin: 70px auto 0;
        @include _991-block {
            margin-top: 50px;
            // flex-wrap: wrap;
        }

        @include _767-block {
            flex-direction: column;
            max-width: 450px;
            gap: 30px;
            margin-top: 40px;
        }
        @include _420-block {
            margin-top: 20px;
            gap: 15px;
        }
    }

    // .footer__form-input
    &__form-input {
        width: 80%;

        input {
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #ffffff;
            padding: 5px;
            border-bottom: 1px solid rgba(145, 145, 145, 0.5);
            width: 100%;
            border-radius: 0;
            &::placeholder {
                color: #ffffff;
            }

            @include _575-block {
                font-size: 16px;
            }
            @include _420-block {
                font-size: 14px;
            }
        }

        @include _767-block {
            // width: 32%;
            width: 100%;
        }

        .iti__selected-dial-code {
            color: #fff;
        }

        .iti__arrow {
            border-top: 4px solid #fff;
        }

        &.footer__form-input-tel {
            width: 100%;
        }
    }

    // .footer__form-btn
    &__form-btn {
        width: 100%;
        // min-width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: #f3f2ef;
        padding: 6px 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
        border-radius: 10px;

        @include _767-block {
            // width: 32%;
            font-size: 16px;
        }

        @include _420-block {
            font-size: 14px;
        }
    }

    // .footer__bottom
    &__bottom {
        margin-top: 40px;
        @include _420-block {
            margin-top: 10px;
        }
    }

    // .footer__imgs
    &__logos {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
        margin-bottom: 5%;
        @include _575-block {
            gap: 40px;
        }
    }

    // .footer__img
    &__logo {
        height: 60px;
        width: 120px;
        @include _575-block {
            max-width: 150px;
            width: 100%;
        }

        @include _420-block {
            max-width: 100px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    // .footer__bottom-info
    &__bottom-info {
        & > * {
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.02em;
            color: #919191;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 40px;

        @include _575-block {
            flex-direction: column;
        }
    }

    // .footer__copyright
    &__copyright {
    }

    // .footer__bottom-btn
    &__bottom-btn {
        text-decoration: underline;
        text-underline-offset: 3px;
    }

    &__anim-block {
        opacity: 0;
    }
}
