.masterplan {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 0.2s ease;

    // &._show {
    //     visibility: visible;
    //     opacity: 1;
    //     transition: 0.2s ease;
    // }

    // masterplan__wrapper
    &__wrapper {
    }

    &__btns {
        position: fixed;
        bottom: 0;
        left: 5%;
        z-index: 1122;
        padding-bottom: 50px;

        opacity: 0;
        visibility: hidden;

        button {
            &:hover {
                background-position: 210% 100%;
            }
        }

        ._show & {
            opacity: 1;
            visibility: visible;
            transition: 0.3s ease 0s;
        }
        @include _575-block {
            width: 100%;
            padding-bottom: 24px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    // masterplan__btn-inner
    &__btn-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 36px;

        @include _575-block {
            width: 100%;
            justify-content: space-around;
        }
    }

    // masterplan__btn
    &__btn {
        border: 1px solid #ffffff;
        background-image: linear-gradient(
            135deg,
            rgba(96, 96, 96, 0.2117647059) 30%,
            rgba(0, 0, 0, 0) 0%
        );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        background-size: 200% 100%;
        transition: background-position 0.5s ease-out;
        background-position: 400% 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 13px 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        color: #ffffff;

        @include _575-block {
            background-color: transparent;
            border: 0;
            font-size: 14px;
            text-transform: capitalize;
            background-image: none;
            padding: 10px;
            width: auto;
        }
    }

    &__btn-brochure {
        width: 310px;
        padding: 12px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        background-size: 200% 100%;
        transition: background-position 0.5s ease-out;
        background-position: 400% 100%;
        background-color: rgb(0, 0, 0);

        @include _575-block {
            background-color: transparent;
            border: 0;
            span {
                span {
                    display: none;
                }
            }
        }
    }

    // masterplan__back
    &__back {
        display: flex;
        align-items: center;
        gap: 26px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-image: linear-gradient(
            135deg,
            rgba(109, 109, 109, 0.2117647059) 30%,
            rgba(0, 0, 0, 0) 0%
        );
        background-origin: border-box;
        background-clip: padding-box, border-box;
        background-size: 200% 100%;
        transition: background-position 0.5s ease-out;
        background-position: 400% 100%;
        position: relative;
        background-color: rgb(0, 0, 0);
        padding: 11.5px 57px;
        z-index: 3;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #ffffff;
        position: fixed;
        top: 100px;
        left: 5%;

        @include _575-block {
            position: static;
            font-size: 14px;
            width: auto;
            padding: 10px 20px;
            gap: 16px;
            svg {
                width: 20px;
            }
        }
    }

    // masterplan__dots-wrapper
    &__dots-wrapper {
        // transition: 0.4s ease 0s;
        // opacity: 0;
        // visibility: hidden;
        // transition: 0.01s linear;

        ._show & {
            // opacity: 1;
            // visibility: visible;
            // transition: 0.01s linear;
        }

        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 30vh;
            width: 100%;
            background: linear-gradient(
                180deg,
                #000000 0%,
                rgba(0, 0, 0, 0) 100%
            );
            transform: matrix(-1, 0, 0, 1, 0, 0);
            z-index: 2;
            opacity: 0.7;
        }

        &::after {
            content: "";
            position: fixed;
            display: block;
            bottom: 0;
            height: 30vh;
            width: 100%;
            background: linear-gradient(
                180deg,
                #000000 0%,
                rgba(0, 0, 0, 0) 100%
            );
            transform: matrix(1, 0, 0, -1, 0, 0);
            opacity: 0.7;
            z-index: 2;
        }
    }

    // masterplan__bg
    &__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;

        img {
            object-fit: cover;
            object-position: bottom;
            width: 100%;
            height: 100%;
        }
    }

    &._show &-btn {
        opacity: 1;
        visibility: visible;
    }

    &._show &__bg {
        z-index: 1;
        transform: translate(0%, 0%) scale(1);
    }

    &__media {
        position: relative;
        // z-index: 4;
        width: max(var(--aspect-ratio-width) * 1%, 100%);
        height: 0;
        padding-bottom: max(var(--aspect-ratio) * 1%, 56%);

        // @media (max-width: 991.98px) {
        //     transform: translateX(-25%);
        // }

        // @media (max-width: 767.98px) {
        //     transform: translateX(-35%);
        // }

        // @media (max-width: 575.98px) {
        //     transform: translateX(-40%);
        // }

        @media (max-width: 575.98px) {
            // width: 100%;
            // padding-bottom: max(calc(var(--aspect-ratio) * 1%), 56%);
            .slightly-move-x & {
                transform: translateX(0);
            }

            .slightly-move-y & {
                transform: translateY(0);
            }

            // padding-bottom: calc(var(--aspect-ratio) * 1%);
            // width: max(calc(var(--aspect-ratio-width) * 1%), 100%);

            padding-bottom: calc(var(--aspect-ratio) * 1%);
            width: max(calc(var(--aspect-ratio-width) * 3.2 * 1%), 100%);

            &-desc {
                // .masterplan__dots-wrapper {
                display: none;
                // }
            }
        }

        &-mob {
            display: none;

            @media (max-width: 575.98px) {
                display: block;
                //     // margin-top: calc(var(--vh) * -1);
                //     padding-bottom: calc(var(--aspect-ratio) * 1%);
                //     width: max(calc(var(--aspect-ratio-width) * 3.2 * 1%), 100%);
            }
        }
    }

    &__dots-svg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        -o-object-fit: cover;
        object-fit: cover;
        left: 0;
        z-index: 3;
        opacity: 0;
        transition: 0.4s ease;

        ._show & {
            opacity: 1;
        }
    }

    &__dot-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
    }

    &__svg {
        &-dot {
            position: relative;
            z-index: 9;

            button {
                @media (min-width: 2000px) {
                    font-size: 10px;
                    padding: 2px 6px 2px 2px;
                }

                background-color: #000;
                padding: 2px 10px 2px 2px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.1;
                background-color: #000;
                color: #dcdad5;

                background: rgba(45, 45, 45, 0.8);
                padding: 2px 10px 2px 2px;
                transition: background 0.5s ease 0s;
                // border: 1px solid rgba(255, 255, 255, 0.3);
                background-image: linear-gradient(
                    135deg,
                    rgba(186, 186, 186, 0.2117647059) 30%,
                    rgba(0, 0, 0, 0) 0%
                );
                background-origin: border-box;
                background-clip: padding-box, border-box;
                background-size: 200% 100%;
                transition: background-position 0.5s ease-out;
                background-position: 400% 100%;
                background-color: rgb(0, 0, 0);

                &:hover {
                    background-position: 210% 100%;
                }
            }
        }
    }

    .dot-masterplan__text {
        @media (min-width: 2000px) {
            padding: 0;
        }
        padding-left: 4px;
    }

    &__dot-square {
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        color: #000;
        p {
            line-height: 0;
        }

        @media (min-width: 2000px) {
            width: 16px;
            height: 16px;
            img {
                width: 14px;
                height: 14px;
            }
        }
    }

    &__draggable-hand {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2002;
        transition: opacity 0.3s ease;
        opacity: 0;
        visibility: hidden;

        align-items: center;
        justify-content: center;
        display: none;

        ._show & {
            opacity: 1;
            visibility: visible;
        }

        &.hide {
            opacity: 0;
            visibility: hidden;
        }

        img {
            animation: handShake 5s linear forwards infinite;
        }

        @media (max-width: 991px) {
            display: flex;
        }

        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: -webkit-gradient(
                linear,
                left bottom,
                left top,
                from(#000),
                to(rgba(0, 0, 0, 0))
            );
            background: linear-gradient(0deg, #000 0, rgba(0, 0, 0, 0) 100%);
            opacity: 0.7;
        }

        @keyframes handShake {
            0% {
                transform: translateX(0%);
            }

            25% {
                transform: translateX(-35%);
            }
            50% {
                transform: translateX(0%);
            }
            75% {
                transform: translateX(35%);
            }
            100% {
                transform: translateX(0%);
            }
        }
    }
}

.alter-parent-window {
    .modal360__close-btn {
        opacity: 0;
        pointer-events: none;
    }
}